* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    background-color: red;
    align-items: center;
    padding: 1rem;
    margin-bottom: 15px;
}

body {
    background-color: white;
}

main {
    width: 95%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 10px;
}

.forms {
    margin: auto;
}

label {
    font-family: poppins;
}

a {
    text-decoration: none;
}

input[type=email] {
    font-size: 1rem;
    font-family: poppins;
    padding: 0.8rem;
    outline: none;
    width: 100%;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
}

input[type=search] {
    font-size: 15px;
    font-family: poppins;
    padding: 6px;
    outline: none;
    width: 40%;
    height: 100%;
    max-width: 375px;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
}

input[type=text] {
    font-size: 1rem;
    font-family: poppins;
    padding: 0.8rem;
    outline: none;
    width: 100%;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
}

input[type=password] {
    font-size: 1rem;
    font-family: poppins;
    padding: 0.8rem;
    outline: none;
    width: 100%;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
}

input[type=date] {
    font-size: 1rem;
    font-family: poppins;
    padding: 0.8rem;
    outline: none;
    width: 100%;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
}

input[type=number] {
    font-size: 1rem;
    font-family: poppins;
    padding: 0.8rem;
    outline: none;
    width: 100%;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 5px;
}

input[type=email]:focus {
    outline: #00b3ff solid 2px;
    outline-style: groove;
}

input[type=search]:focus {
    background-color: gainsboro;
    outline-style: none;
}

input[type=password]:focus {
    outline: #00b3ff solid 2px;
    outline-style: groove;
}

.show-password {
    margin: 0.5rem 0;
}

.web-name {
    font-size: 20px;
    font-weight: bolder;
    font-family: poppins;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
}

.menu_bttn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.menu_icon {
    width: 100%;
    fill: white;
    cursor: pointer;
}

.account-container {
    position: absolute;
    top: 4rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 1px gainsboro;
    font-family: poppins;
    display: none;
    z-index: 2;
}

#user-email {
    padding: 1rem;
    width: 100%;
}

.account-manage-container {
    overflow: hidden;
    border: solid 1px gainsboro;
}

.account-input {
    padding: 0;
    outline: transparent;
    background-color: transparent;
    pointer-events: none;
}

#manage-option {
    cursor: pointer;
}

#manage-option a:hover {
    background-color: gainsboro;
}

.close-menu {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: x-large;
    float: right;
    border-radius: 100%;
}

.close-menu:hover {
    border: solid 2px red;
}

.manage-icons {
    width: 1rem;
    height: 1rem;
}

.main-container {
    width: 70%;
    height: 60%;
    max-width: 1000px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.pic-container {
    width: 55%;
    padding: 15px;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    background-color: red;
}

.form-title {
    font-weight: bolder;
    font-family: poppins;
    color: white;
}

.login-form {
    padding: 3rem;
}

/* .icon {
    margin-right: 2rem;
} */

.padding1 {
    padding: 1rem;
}

.padding2 {
    padding: 2rem;
}

.flex {
    display: flex;
}

.flex-1 {
    display: flex;
    gap: 1rem;
}

.flex-2 {
    display: flex;
    gap: 2rem;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: poppins;
    font-size: 1rem;
    padding: 0.8rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.btn-primary:hover {
    background-color: rgb(209, 0, 0);
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: poppins;
    font-size: 1rem;
    padding: 0.8rem;
    color: white;
    background-color: rgb(201, 196, 196);
    border: none;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.btn-secondary:hover {
    background-color: gray;
}

.add-item-section {
    flex: 30%;
    width: 100%;
}

.add-item-section.show {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 2px gainsboro;
}

.item-display {
    flex: 70%;
    width: 100%;
}

.item-status-container {
    width: 100%;
    height: 8rem;
    display: flex;
    gap: 10px;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
}

.container {
    width: 30%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-family: poppins;
    font-weight: bold;
    color: #202020;
    border: solid 1px gainsboro;
}

.item-all {
    cursor: pointer;
}

.item-available {
    cursor: pointer;
}

.item-to-expire {
    cursor: pointer;
}

.item-expired {
    cursor: pointer;
}

.item-quantity {
    cursor: pointer;
    font-weight: 500;
}

.available {
    cursor: pointer;
    font-weight: 500;
}

.almost {
    cursor: pointer;
    font-weight: 500;
}

.expired {
    cursor: pointer;
    font-weight: 500;
}

.items-container {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px gainsboro;
}

.add-item-container {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    border: solid 1px gainsboro;
}

.add-item-text {
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
    padding: 0.7rem 0;
}

.add-item {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-family: poppins;
    cursor: pointer;
    margin-top: 10px;
}

.add-item:hover {
    background-color: rgb(209, 0, 0);
}

.add-item-bottom {
    width: 30px;
    height: 30px;
    border: none;
    font-family: poppins;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    padding: 6px;
    transition: 0.5s ease;
}

.add-item-bottom:hover {
    background-color: gainsboro;
}

.bttm-add {
    width: 100%;
    height: 100%;
}

.item-price {
    margin-top: 3px;
}

.search-container {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.search-with-button {
    display: flex;
    align-items: center;
}

.search-button {
    width: 40px;
    height: 39px;
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    font-family: poppins;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.search-button:hover {
    background-color: gainsboro;
}

.search-icn {
    width: 100%;
    margin: auto;
}

.items {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    font-family: poppins;
    text-align: center;
}

.iid {
    font-size: 10px;
}

.active {
    box-shadow: 1px 3px 3px 1px gainsboro;
    background-color: rgb(250, 252, 253);
}

.menu-container {
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    display: none;
}

.nav-title {
    display: none;
}

.title-nav {
    font-family: poppins;
    font-size: 20px;
}

.status-icn {
    width: 40px;
}

.status-number {
    position: relative;
    top: -0.3rem;
    left: 2rem;
    width: 2rem;
    height: 0.2rem;
    color: rgb(255, 49, 49);
    font-family: poppins;
}

.mid-add {
    width: 40px;
}

.bttm {
    width: 18%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: transparent 2px solid;
}

.bottom-fix {
    width: 100%;
    height: 10rem;
    display: none;
}

.active-bttm {
    border-top-color: red;
}

.delete-exx {
    background-color: transparent;
    outline: transparent;
    border: none;
    color: #ff3131;
    font-size: 1rem;
    font-family: poppins;
    cursor: pointer;
}

.recent-items-container {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px gainsboro;
    max-height: 280px;
    overflow-y: scroll;
}

.recent {
    padding: 1rem;
    border-bottom: solid 1px gainsboro;
    border-left: solid 3px red;
    margin-bottom: 5px;
}

.table-option-container {
    width: 8rem;
    position: relative;
    right: 7.5rem;
    top: -0.1rem;
    background-color: white;
    box-shadow: 1px 2px 5px 1px rgb(179, 179, 179);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.table-option {
    padding: 0.5rem;
    cursor: pointer;
}

.item-option {
    rotate: 90deg;
    cursor: pointer;
    font-weight: light;
}

.item-option-container {
    width: 8rem;
    position: absolute;
    left: -1rem;
    top: 3.5rem;
    rotate: -90deg;
    z-index: 5;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgb(179, 179, 179);
    padding: 0.5rem;
    border-radius: 5px;

    button {
        width: 100%;
        height: 50%;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
    }
}